<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <display-name>ShopController</display-name>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>dawa.controller.ShopController</servlet-class>
        <init-param>
            <param-name>BBDDHost</param-name>
            <param-value>192.168.1.35</param-value>
        </init-param>
        <init-param>
            <param-name>BBDDPort</param-name>
            <param-value>27017</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
</web-app>